FPGA/SHA256Hasher/SHA256Hasher.srcs/sources_1/ip/* linguist-vendored
FPGA/System/System.srcs/sources_1/bd/System/ip/* linguist-vendored
FPGA/System/System.srcs/sources_1/ipshared/* linguist-vendored
ARM/HardwarePlatform/* linguist-generated
Docs/* linguist-documentation